appdirs==1.4.4
astroid==2.4.1
autopep8==1.5.2
cfgv==3.1.0
distlib==0.3.0
filelock==3.0.12
flake8==3.8.1
identify==1.4.15
isort==4.3.21
jedi==0.17.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nodeenv==1.3.5
parso==0.7.0
pluggy==0.13.1
pre-commit==2.4.0
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pylint==2.5.2
PySide2==5.14.2.1
python-jsonrpc-server==0.3.4
python-language-server==0.32.0
PyYAML==5.4
rope==0.17.0
shiboken2==5.14.2.1
six==1.14.0
snowballstemmer==2.0.0
toml==0.10.1
ujson==1.35
virtualenv==20.0.20
wrapt==1.12.1
yapf==0.30.0
